:root{
  --primaryColor: #25a07c;
}

.header{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  display: block;
  z-index: 9;
}

.header__inner{
  flex-direction: row-reverse;
}

.logo .hidden{
  visibility: hidden;
}

.menu{
  position: static;
}
.logo__cursor{
  background-color: var(--primaryColor);
}

.cover-img{
max-width: 760px;
position: relative;
background-color: var(--background);
opacity: 0.7;
}

.cover-slogan{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer .slogan{
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 100%;
}

.footer{
  max-width:100%;
}

.post{
  max-width: 720px;
}

.on-list{
  padding: 0;
}

.post-title {
  font-size: 1.625rem;
  text-align: center;
}

.post-content{
  line-height: 1.8;
}

@media screen and (min-width:1435px) {
  .toc {
    float: right;
    position: fixed;
    display:block;
    max-width: 160px;
    right: 10%;
  }
}

a{
  color:inherit;
}

a:hover {
  text-decoration: none;
  color: var(--primaryColor);
}

/* friend link need to nest*/
.friend-container {
  position: relative;
  background-color: var(--header);
  margin:32px auto;
  height: fit-content();
  min-height: 150px;
}

.friend-info {
    line-height: 2;
    margin: 10px 25px auto 150px;
    display: inline-block;
    text-align: left;
  }

.friend-avatar{
    display: inline-block;
    position: absolute;
    margin:25px;
    width: 100px;
    height: 100px;
  }

.friend a{
  text-decoration: none;
}

.friend a:hover{
  box-shadow: 2px 2px 8px var(--background-secondary);
}

/*like button*/
.like-button{
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.like-button .fa-heart:before{
  color: var(--color-secondary);
}

.like-button .fa-heart:hover{
  color: red;
}

.like-button .liked{
  color:#d65076;
  animation: liked .4s ease;
}

@keyframes liked {
  0% {
    transform: scale(.8);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/*back to top*/
.back-to-top{
  position: absolute;
  right: 10%;
  bottom:5%;
  line-height: 3rem;
}
/*related posts*/
.related-posts{
  align-items: center;
  text-align: center;
  text-decoration: none;
  width: 85%;
  max-width: 800px;
  border-style: dashed;
  border-color: var(--primaryColor);
  box-shadow: 2px 2px 8px var(--background-secondary);
  padding: 16px;
}

.related-item{
  text-align: left;
}

.related-link {
  text-decoration: none;
}

/*about me at the footer*/
#aboutme .container {
  align-items: center;
}


.pagination__buttons{
  margin-left: 20px;
  margin-right: 20px;
  justify-content: space-between;
}
